*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #999;
    padding: 15px;
}
:where(.config-container,.quiz-container){
    background: #3669;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}
.config-container{
    display: none;
    background: #3669;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    width: 415px;
    text-align: center;
    padding: 25px;
}
.config-title{
    font-size: 1.31rem;

}
.config-container .config-option{
    margin-top: 25px;

}
.config-option .option-title{
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.config-option .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
.question-options{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 30px;
    justify-content: center;
}
.config-option button{
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background: #fff;
    border: 1px solid #0aafcc;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;

}
.question-options button{
    flex: 1 1 10%;

}
.config-option button:hover{
    background: #dad5fd;

}
.config-option button.active{
    color: #5145ba;
    border-color: #5145ba;
    background: #dfdafd;
}
.config-container .start-quiz-btn,
.quiz-footer .next-question-btn{
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    background: #5145ba;
    padding: 13px 25px;
    font-size: 1rem;
    border-radius: 20px;
    font-weight: 500;
    transition: background 0.3s ease;
}
.config-container .start-quiz-btn{
    margin-top: 30px;
}
.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover{
    background: #403795;

}


.quiz-container{
    width: 480px;

}
.quiz-container .quiz-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}
.quiz-header .quiz-title{
    font-size: 1.43rem;
    font-weight: 700;

}
.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.quiz-header .quiz-timer{
    display: flex;
    width: 70px;
    background: #32313c;
    padding: 7px 9px;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    align-items: center;
    gap: 5px;
}
.quiz-header .quiz-timer i{
    font-size: 1.4rem;

}
.quiz-content{
    padding: 20px 25px 25px;
}
.quiz-content .answer-options{
    list-style: none;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    gap: 15px;

}
.quiz-content .answer-option{
    padding: 13px 16px;
    background: #f3f1ff;
    border: 1px solid #b5acff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s ease;
}
.quiz-container .quiz-footer{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;

}
.quiz-footer .next-question-btn{
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 9px 17px;
    
}